@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-jakarta dark:bg-body bg-light-body transition duration-300;
}

.bg-general-noise {
  background-image: url('../assets/img/general-noise.png');
}

.bg-download {
  background-image: url('../assets/img/download.png');
}

.bg-dots {
  background-image: url('../assets/img/6x6-dot-white.png');
}